:root {
  --header-hero-height: 200px;
}

.header-hero {
  background-image: url("../img/wall.png");
  background-position: center;
  height: var(--header-hero-height);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Edu TAS Beginner", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.header-hero h1 {
  font-size: 100px;
  color: black;
  font-weight: bold;
}

.main-hero {
  background-image: url("../img/cork.png");
  background-position: center;
  height: calc(100vh - var(--header-hero-height));
}

.card {
  position: relative;
  margin-top: 80px;
  font-family: "Edu TAS Beginner", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  border-radius: 0%;
}

.card .pin {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
}
